<ul>
  <% @surveys.each do |survey| %>
      <li><%= link_to survey.title, survey %></li>
      <%= pluralize(survey.questions.size, "Question") %>
  <% end %>
</ul>

<%= link_to "New Survey", new_survey_path %>
