<h1>This is the show page for surveys.</h1>

<h3><%= @survey.title %></h3>

<% if current_user == @survey.user_id %>
  <%= render "mysurvey" %>
<% else %>
  <%= render 'survey_form', locals: { survey: @survey } %>
<% end %>
